<extend name="Public:base"/>
<block name='systemmenu'>active</block>
<block name='systemsubmenurolemgr'>active</block>
<block name="extjs">
    <!-- Parsley -->
    <script src="__PUBLIC__/Admin/Endless/js/parsley.cn.min.js"></script>
</block>
<block name="pagecont">
    <div id="main-container">
        <div class="padding-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{$title}</h3>
                </div>
                <div class="panel-body">
                    <if condition="($errcode neq 0) OR ($errcode neq '0')">
                        <div class="alert alert-danger">
                            <strong>警告：
                                <switch name="errcode" >
                                    <case value="1">任务名已存在，保存失败，请联系管理员!</case>
                                    <case value="2"> </case>
                                    <case value="3"> </case>
                                    <case value="9">保存成功！</case>
                                </switch>
                            </strong>
                        </div>
                    </if>
                    <form id="formToggleLine" class="form-horizontal no-margin form-border" data-validate="parsley" novalidate action="__ACTION__" method="post">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">系统消息标题</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入系统消息标题"  data-required="true" name="title" value="{$data.title}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">系统消息内容</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入系统消息内容"  data-required="true" name="content" value="{$data.content}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">发布时间</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入发布时间"  data-required="true" name="creatime" value="{$data.creatime}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">是否有效</label>
                            <div class="col-lg-10">
                                <select class="form-control" name="status">
                                    <if condition="$data.status eq 1">
                                        <option value="1" selected="selected">有效</option>
                                        <option value="0" >无效</option>
                                    <else/>
                                        <option value="1" >有效</option>
                                        <option value="0" selected="selected">无效</option>
                                    </if>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-10">
                                <input type="hidden" name="act" value="{$act}"/>
                                <input type="hidden" name="id" value="{$data.id}"/>
                                <button type="submit" class="btn btn-success">保存</button>
                                <a href="{:U('Message/index')}" type="reset" class="btn btn-danger">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>