<extend name="Public:base"/>
<block name='systemmenu'>active</block>
<block name='systemsubmenurolemgr'>active</block>
<block name="extjs">
    <!-- Parsley -->
    <script src="__PUBLIC__/Admin/Endless/js/parsley.cn.min.js"></script>
</block>
<block name="pagecont">
    <div id="main-container">
        <div class="padding-md">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>商城产品编辑</h3>
                </div>
                <div class="panel-body">
                    <if condition="($errcode neq 0) OR ($errcode neq '0')">
                        <div class="alert alert-danger">
                            <strong>警告：
                                <switch name="errcode" >
                                    <case value="1">任务名已存在，保存失败，请联系管理员!</case>
                                    <case value="2"> </case>
                                    <case value="3"> </case>
                                    <case value="9">保存成功！</case>
                                </switch>
                            </strong>
                        </div>
                    </if>

                    <form id="formToggleLine" class="form-horizontal no-margin form-border" data-validate="parsley" novalidate action="__ACTION__" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-lg-2 control-label">产品名称</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入产品名称"  data-required="true" name="name" value="{$data.productname}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">产品介绍</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入产品介绍"  data-required="true" name="content" value="{$data.content}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">完成任务得分</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入任务完成得分"  data-required="true" name="score" value="{$data.score}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">市场价格</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入产品市场价格"  data-required="true" name="price" value="{$data.price}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">产品数量</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入产品数量"  data-required="true" name="totalnums" value="{$data.totalnums}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">产品剩余数量</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="text" placeholder="请输入产品剩余数量"  data-required="true" name="lastnums" value="{$data.lastnums}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">是否上线</label>
                            <div class="col-lg-10">
                                <select name="isonline" id="isonline" class="form-control">
                                    <if condition="1 eq $data['isonline']">
                                        <option value="1" selected="selected">是</option>
                                        <option value="0">否</option>
                                    <else/>
                                        <option value="1">是</option>
                                        <option value="0" selected="selected">否</option>
                                    </if>
                                </select>
                                <!--<if condition="$data.isonline eq 1">-->
                                    <!--<input type="radio" name="isonline"  value="1" checked="checked"/>上线-->
                                    <!--<input type="radio" name="isonline"  value="0"/>下线-->
                                <!--</else>-->
                                    <!--<input type="radio" name="isonline"  value="1" />上线-->
                                    <!--<input type="radio" name="isonline"  value="0" checked="checked"/>下线-->
                                <!--</if>-->
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">产品LOGO</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="file" name="logoimg">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">产品图片</label>
                            <div class="col-lg-10">
                                <input class="form-control" type="file" name="productimg">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">分类</label>
                            <div class="col-lg-10">
                                <select name="cid" id="cid" class="form-control">
                                    <option value="0">顶级分类</option>
                                    <volist name="cate" id="v">
                                        <if condition="$v.id eq $data['categoryid']">
                                            <option value="{$v.id}" selected="selected">{$v.html} {$v.title}</option>
                                        <else/>
                                            <option value="{$v.id}">{$v.html} {$v.title}</option>
                                        </if>
                                    </volist>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label"></label>
                            <div class="col-lg-10">
                                <input type="hidden" name="act" value="{$act}"/>
                                <input type="hidden" name="id" value="{$data.id}"/>
                                <button type="submit" class="btn btn-success">保存</button>
                                <a href="{:U('Product/index')}" type="reset" class="btn btn-danger">取消</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="extjs">
    <script language="javascript" type="text/javascript">
        $(function(){
//            $("select[name='cid']").find('option').each(function(){
//                var self = this;
//                if($(self).val()== {$data['categoryid']}){
//                    $(self).attr('selected',true);
//                }
//            });
        });
    </script>
    <script type="text/javascript">
        function setImagePreview(avalue) {
            var docObj=document.getElementById("doc");

            var imgObjPreview=document.getElementById("preview");
            if(docObj.files &&docObj.files[0])
            {

                imgObjPreview.style.display = 'block';
                imgObjPreview.style.width = '150px';
                imgObjPreview.style.height = '180px';
                imgObjPreview.src = window.URL.createObjectURL(docObj.files[0]);
            }
            else
            {
                docObj.select();
                var imgSrc = document.selection.createRange().text;
                var localImagId = document.getElementById("localImag");
                localImagId.style.width = "150px";
                localImagId.style.height = "180px";
                try{
                    localImagId.style.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                    localImagId.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
                }
                catch(e)
                {
                    alert("您上传的图片格式不正确，请重新选择!");
                    return false;
                }
                imgObjPreview.style.display = 'none';
                document.selection.empty();
            }
            return true;
        }

    </script>

    <script language="javascript" type="text/javascript">
        $(function(){
            $("select[name='type']").find('option').each(function(){
                var self=this;
                if($(self).val()== {$type}){
                    $(self).attr('selected',true);
                }
            });
        })
    </script>
    <script  src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        //时间选择
        $(function(){
            function selecttime(flag){
                if(flag==1){
                    var endTime = $("#countTimeend").val();
                    if(endTime != ""){
                        WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',maxDate:endTime});
                    }else{
                        WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'});
                    }
                }else{
                    var startTime = $("#countTimestart").val();
                    if(startTime != ""){
                        WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',minDate:startTime});
                    }else{
                        WdatePicker({dateFmt:'yyyy-MM-dd HH:mm'});
                    }
                }
            }
            $('#countTimestart').focus(function(){
                selecttime(1);
            });
            $('#countTimeend').focus(function(){
                selecttime(2);
            });
        });
    </script>
    <script src="__PUBLIC__/Uploadify/jquery.uploadify.min.js" type="text/javascript">
    </script>

    <script language="javascript" type="text/javascript">

        $(document).ready(function(){
            //var globalVar = new GVar();
            setTimeout(function(){
                $('#file_upload').uploadify({
                    'formData'     : {
                    },
                    'buttonText' : '添加图片...',
                    'successTimeout' : 30,
                    'swf'      : '__PUBLIC__/Uploadify/uploadify.swf',
                    'uploader' : "{:U('Resource/tmpupimgs')}",
                    'onUploadSuccess' : function(file, data, response) {
                        if(response){
                            var dataObj=eval("("+data+")");
                            //console.log(dataObj);
                            ///*
                            $.each(dataObj, function(i, n){
                                console.log(n);
                                var str=$('#imagesdiv').html();
                                var add="<div class='img-square'><img width='100px' src='"+"{$Think.WEB_ROOT}"+n+"'" +"style='margin:15px;'/></img>"
                                        +"<br/><a  class='btn btn-danger btn-xs' onclick=\"removeImgnode(this)\"><i class='fa fa-trash-o fa-lg'></i> 删除 </a>"
                                        +"<input type='hidden'  name='img[]' value='"+n+"'></div>";
                                str+=add;
                                $('#imagesdiv').html(str);
                            });//*/
                        }
                    }
                });
            },6);
            function removeImgnode(node){
                if(!confirm('您是否确定要删除该图片？')){return  false;}
                else{
                    var pdiv = node.parentNode;
                    var mdiv = pdiv.parentNode;
                    mdiv.removeChild(pdiv);
                }
            }
        })

    </script>
</block>

<block name="extcss">
    <link href="__PUBLIC__/Uploadify/uploadify.css" rel="stylesheet" type="text/css">
    <style type="text/css" media="all">
        .img-square {
            text-align:center;
            width:200px;
            float:left;
            display:block;
            margin-right:10px;
        }
    </style>
</block>